## 1) 2 number swapping

In [1]:
num1=int(input("Enter number 1: "))
num2=int(input('Enter number 2: '))

print("num1 before swapping:",num1)
print("num2 before swapping:",num2)

temp=num1
num1=num2
num2=temp

print("num1 after swapping:",num1)
print("num2 after swapping:",num2)

Enter number 1: 12
Enter number 2: 56
num1 before swapping: 12
num2 before swapping: 56
num1 after swapping: 56
num2 after swapping: 12

## 2) To check if number is prime or not

#### Prime number : should be a natural number ie. (num>1)
#### should have only 2 factors ie. Factors= 1 & number itself

In [1]:
num=int(input("Enter the number:"))
count=0

if num>1:
    for i in range(1,num+1):
        if num%i==0:
            count=count+1
            
if count==2:
    print("Entered number is Prime")
else:
    print("Entered number is not a prime number")

Enter the number:7
Entered number is Prime

## 3)To print the factorial of a number

In [13]:
num=int(input("Enter the number: "))
factorial=1

if num<0:
    print("The factorial of a number doesn't exist!!")
elif num==0:
    print("The factorial of 0 is 1")
else:
    for i in range(1,num+1):
        factorial=factorial*i
    print("The factorial of ",num, "is",factorial)

Enter the number: 3
The factorial of  3 is 6

In [16]:
def factorial(n):
    if n==0 or n==1:
        return 1
    else:
        return n*factorial(n-1)
    
num=int(input("Enter the number :"))
print("The factorial of ",num,"is",factorial(num))

Enter the number :3
The factorial of  3 is 6

In [18]:
for i in range(1,4):
    print(i)

1
2
3

## 4)To print the Fibonacci Series

### Fibonacci Series is the series of numbers in which each number is the sum of two precedding numbers

### ie. 0,1,1,2,3,5,8,13,...............

In [24]:
n1=0
n2=1

#print(n1)
#print(n2)

for i in range(2,10):
    sum=n1+n2
    print(i,sum)
    n1=n2
    n2=sum

2 1
3 2
4 3
5 5
6 8
7 13
8 21
9 34

## 5) To print sum of numbers in list

In [1]:
import math
arr=[1,4,6,8,3,9]
print(sum(arr))

31

## 6)To print maximum value in list & its index

In [7]:
max_value=max(arr)

for index , value in enumerate(arr):
    if value==max_value:
        print(f"Value:{value},index:{index}")

Value:9,index:5

## 7)To print minimum value in list & its index

In [3]:
l2=[8745,23,87,12,67,3,67,12,67,236,12,56]
max_l2=max(l2)
min_l2=min(l2)

for index,value in enumerate(l2):
    if value==max_l2:
        print("maximum value: ",value,"index:",index)
    elif value==min_l2:
        print("minimum value: ",value,"index:",index)

maximum value:  8745 index: 0
minimum value:  3 index: 5

## 8)To print length of list using for loop

In [6]:
count=0

for i in l2:
    count=count+1
print(f"The length of list is {count}")
print(len(l2))

The length of list is 12
12

## 9)To Swap First & Last Elements of a List

In [10]:
l1=[1,32,4,45,6,78,7]
print("List before swapping:",l1)

temp=l1[0]
l1[0]=l1[-1]
l1[-1]=temp


print("List after swapping:",l1)

List before swapping: [1, 32, 4, 45, 6, 78, 7]
List after swapping: [7, 32, 4, 45, 6, 78, 1]

In [11]:
l1[0],l1[-1]=l1[-1],l1[0]
print(l1)

[1, 32, 4, 45, 6, 78, 7]

In [13]:
#using tuple
l1=[1,32,4,45,6,78,7]

get=(l1[0],l1[-1])
l1[-1],l1[0]=get

print(l1)

[7, 32, 4, 45, 6, 78, 1]

In [18]:
# using * operand
l1=[1,32,4,45,6,78,7]
print("List before swapping: ", l1)
start,*middle,end=l1

print("start:",start)
print("Middle:",middle)
print("End:",end)

l1=[end,*middle,start]
print("List after swapping:",l1)

List before swapping:  [1, 32, 4, 45, 6, 78, 7]
start: 1
Middle: [32, 4, 45, 6, 78]
End: 7
List after swapping: [7, 32, 4, 45, 6, 78, 1]

## 10)To delete Nth occurrence of the word

In [32]:
l1=["geeks","for","geeks","geeks","sdfgb","geeks"]
word="geeks"
n=4
count=0

for i in range(0,len(l1)):
    if l1[i]==word:
        count=count+1
        
        if count==n:
            del l1[i]
            
l1

['geeks', 'for', 'geeks', 'geeks', 'sdfgb']

## 11) To Search an Element in a List

In [40]:
l1=[32,5,45,67,3,87,23,78,12,56]
# if found print "element found" else not found

element=int(input("Enter the number to search: "))
count=0

for i in range(0,len(l1)):
    if l1[i]==element:
        count=count+1
if count>=1:
    print("Element found")
        
else:
    print("Element not found")

Enter the number to search: 5
Element found